<div class="accordion">
    <a href="#largeAnswer1collapse" data-mdb-collapse-init aria-expanded="false" aria-controls="largeAnswer1collapse"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <div class="row w-100">
                <div class="col-1 text-center d-flex align-items-center"><i class="fas fa-money-bill me-2 fa-3x"></i>
                </div>
                <div class="col-10">
                    <h5 class="my-2">Question about price?</h5>

                    <p class="mb-1">
                        Short & concise version of the answer.
                    </p>
                    <small class="text-muted"><u>Learn more</u></small>
                    <!-- Collapsed content -->
                    <div class="collapse mt-3" id="largeAnswer1collapse">
                        Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim
                        eiusmod
                        high
                        life accusamus terry richardson ad
                        squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                        sapiente ea proident.
                    </div>
                </div>
            </div>
        </div>


    </a>
    <a href="#largeAnswer2collapse" data-mdb-collapse-init aria-expanded="false" aria-controls="largeAnswer2collapse"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <div class="row w-100">
                <div class="col-1 text-center d-flex align-items-center"><i class="fas fa-user-cog me-2 fa-3x"></i>
                </div>
                <div class="col-10">
                    <h5 class="my-2">Question about technical support?</h5>

                    <p class="mb-1">
                        Short & concise version of the answer.
                    </p>
                    <small class="text-muted"><u>Learn more</u></small>
                    <!-- Collapsed content -->
                    <div class="collapse mt-3" id="largeAnswer2collapse">
                        Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim
                        eiusmod
                        high
                        life accusamus terry richardson ad
                        squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                        sapiente ea proident.
                    </div>
                </div>
            </div>
        </div>


    </a>
    <a href="#largeAnswer3collapse" data-mdb-collapse-init aria-expanded="false" aria-controls="largeAnswer3collapse"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <div class="row w-100">
                <div class="col-1 text-center d-flex align-items-center"><i class="fas fa-dragon me-2 fa-3x"></i>
                </div>
                <div class="col-10">
                    <h5 class="my-2">Question about dragons?</h5>

                    <p class="mb-1">
                        Short & concise version of the answer.
                    </p>
                    <small class="text-muted"><u>Learn more</u></small>
                    <!-- Collapsed content -->
                    <div class="collapse mt-3" id="largeAnswer3collapse">
                        Detailed and comprehensive answer goes here. pariatur cliche reprehenderit, enim
                        eiusmod
                        high
                        life accusamus terry richardson ad
                        squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                        sapiente ea proident.
                    </div>
                </div>
            </div>
        </div>


    </a>
</div>