<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5" style="padding: 50px;">
        <a routerLink="/sonalika">
            <div class="card bg-dark text-white">
                <img src="/sonalika-tractor.webp" class="card-img"   alt="Sonalika" />
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text">

                    </p>
                    <p class="card-text"></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-5" style="padding: 50px;">
        <a routerLink="/solis">
            <div class="card bg-dark text-white">
                <img src="/Solis.webp" class="card-img"   alt="Solis" />
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text">

                    </p>
                    <p class="card-text"></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-1">
    </div>
</div>


