<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-5" style="padding: 50px;">
        <a href="">
            <div class="card bg-dark text-white">
                <img src="/sonalika-tractor.webp" class="card-img"   alt="Sonalika" />
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text">

                    </p>
                    <p class="card-text"></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-5" style="padding: 50px;">
        <a href="">
            <div class="card bg-dark text-white">
                <img src="/Solis.webp" class="card-img"   alt="Solis" />
                <div class="card-img-overlay">
                    <h5 class="card-title"></h5>
                    <p class="card-text">

                    </p>
                    <p class="card-text"></p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-1">
    </div>
</div>


<div class="row" style="padding: 50px;">
    <div class="col text-center">
        <div class="card bg-dark text-white h-100">
            <div class="card-header">
                <b>Operator Manuals</b>
              </div>
              <img src="/Operator-Manual.webp" class="card-img"   alt="Solis" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 text-center">
        <div class="card bg-dark text-white h-100">
            <div class="card-header">
                <b>Service Manuals </b>
              </div>
            <img src="/service-manuals.webp" class="card-img"   alt="Solis" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 text-center">
        <div class="card bg-dark text-white h-100">
            <div class="card-header">
                <b>Training Manuals</b>
              </div>
            <img src="/training-manual.webp" class="card-img"   alt="Solis" height="330px" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 text-center">
        <div class="card bg-dark text-white h-100">
            <div class="card-header">
                <b>Service Circulars</b>
              </div>
            <img src="/service-circular.webp" class="card-img"   alt="Solis" height="330px" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding: 50px;">
    <div class="col-sm-3 text-center">
        <div class="card bg-dark text-white h-100">
            <div class="card-header">
                <b>Technical Bulletin</b>
              </div>
            <img src="/Technical-Bulletins-Banner_1.webp" class="card-img"   alt="Solis" height="330px" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 text-center">
        <div class="card bg-dark text-white h-100">
            <div class="card-header">
                <b>Part Circular</b>
              </div>
            <img src="/tractor-parts-1.webp" class="card-img"   alt="Solis" height="330px"/>
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 text-center">
        <div class="card bg-dark text-white h-100">
            <div class="card-header">
                <b>Maintenance</b>
              </div>
            <img src="/Tractor-maintenance.webp" class="card-img"   alt="Solis" height="330px" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 text-center">
        <div class="card bg-dark text-white h-100">
            <div class="card-header">
                <b>Coming Soon</b>
              </div>
            <img src="/coming-soon.webp" class="card-img"   alt="Solis" height="330px"/>
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">
                </p>
            </div>
        </div>
    </div>
</div>