.footer-header{
    color: #FFF;
    font-weight: 600;
    margin-bottom: 2rem;
}

.footer-anchor{
    color: #8BC53F !important;
    text-decoration: none;
    
}

.nav-bar-footer{
    background-color: #043A54;
  }