@if(showParent()){
<div class="row" style="padding: 50px;" >
    <div class="col text-center">
         <!--Relative to Sonalika-->
         <a routerLink="operator-manuals" ariaCurrentWhenActive="page">
        <div class="card card-header-main text-white h-100">
            <div class="card-header-sub">
                <b>Operator Manuals</b>
            </div>
            <img src="/Operator-Manual.webp" class="card-img" alt="Solis" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">

                </p>
            </div>
        </div>
         </a>
    </div>
    <div class="col-sm-3 text-center">
         <!--Relative to Sonalika-->
         <a routerLink="service-manuals" ariaCurrentWhenActive="page">
        <div class="card card-header-main text-white h-100">
            <div class="card-header-sub">
                <b>Service Manuals </b>
            </div>
            <img src="/service-manuals.webp" class="card-img" alt="Solis" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">

                </p>
            </div>
        </div>
         </a>
    </div>
    <div class="col-sm-3 text-center" ariaCurrentWhenActive="page">
         <!--Relative to Sonalika-->
         <a routerLink="training-manuals">
        <div class="card card-header-main text-white h-100">
            <div class="card-header-sub">
                <b>Training Manuals</b>
            </div>
            <img src="/training-manual.webp" class="card-img" alt="Solis" height="330px" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">

                </p>
            </div>
        </div>
         </a>
    </div>
    <div class="col-sm-3 text-center">
         <!--Relative to Sonalika-->
         <a routerLink="service-circulars" ariaCurrentWhenActive="page">
        <div class="card card-header-main text-white h-100">
            <div class="card-header-sub">
                <b>Service Circulars</b>
            </div>
            <img src="/service-circular.webp" class="card-img" alt="Solis" height="330px" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">

                </p>
            </div>
        </div>
         </a>
    </div>
</div>
<div class="row" style="padding: 50px;">
    <div class="col-sm-3 text-center">
         <!--Relative to Sonalika-->
         <a routerLink="technical-bulletin" ariaCurrentWhenActive="page">
        <div class="card card-header-main text-white h-100">
            <div class="card-header-sub">
                <b>Technical Bulletin</b>
            </div>
            <img src="/Technical-Bulletins-Banner_1.webp" class="card-img" alt="Solis" height="330px" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">

                </p>
            </div>
        </div>
         </a>
    </div>
    <div class="col-sm-3 text-center">
         <!--Relative to Sonalika-->
         <a routerLink="part-circular" ariaCurrentWhenActive="page">
        <div class="card card-header-main text-white h-100">
            <div class="card-header-sub">
                <b>Part Circular</b>
            </div>
            <img src="/tractor-parts-1.webp" class="card-img" alt="Solis" height="330px" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">

                </p>
            </div>
        </div>
         </a>
    </div>
    <div class="col-sm-3 text-center">
        <!--Relative to Sonalika-->
        <a routerLink="maintenance" ariaCurrentWhenActive="page">
            <div class="card card-header-main text-white h-100">
                <div class="card-header-sub">
                    <b>Maintenance</b>
                </div>
                <img src="/Tractor-maintenance.webp" class="card-img" alt="Solis" height="330px" />
                <div class="">
                    <h5 class="card-title"></h5>
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3 text-center">
        <div class="card card-header-main text-white h-100">
            <div class="card-header-sub">
                <b>Coming Soon</b>
            </div>
            <img src="/coming-soon.webp" class="card-img" alt="Solis" height="330px" />
            <div class="">
                <h5 class="card-title"></h5>
                <p class="card-text">
                </p>
            </div>
        </div>
    </div>
</div>
}

<router-outlet></router-outlet> 