/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    background-color: #eee;
    font-family: Mada, sans-serif;
}

.card-header-main{
    background-color: #043A54;
}
.card-header-sub{
    background-color: #043A54;
    padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
}